.header-section {
    height: 100vh;
    width: 100%;
    border: 2px solid;
}

.header {
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.header-brandname {

    .title{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .subtitle{
        margin: 0;
        font-size: 0.8rem;
    }
}

.header-links {
    text-align: right;

    .link {
        font-size: 1rem;
        margin: 0 5px;
        text-decoration: none;
    }
}

.header-subsection {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    

    .title-subsection{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        .header-title{
            font-size: 3rem;
        }

        .title-firstline{
            height: auto;
            width: 40%;
            position: absolute;
            text-align: left;
        }

        .title-secondline{
            height: auto;
            width: 60%;
            position: absolute;
            top: 34%;
            left: 20%;
            text-align: center;
        }

        .title-bottomline{
            position: absolute;
            height: auto;
            width: 40%;
            top: 70%;
            left: 30%;
        }
    }

    
}

.header-button {
    position: absolute;
    top: 70%;
    height: 40%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-title{
        margin-bottom: 30px;
    }
    
    .button{
        background: none;
        border: none;
        font-size: 2.5rem;
    }
}
